<div class="Intro">
    <mat-card>
        <mat-card-header>
            <mat-card-title>KU HAK</mat-card-title>
            <mat-card-subtitle>고려대학교 강의지원 서비스</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/intro.png" alt="인트로">
        <mat-card-content>
            <p>
                블랙보드를 대체할 수 있는 대학교 강의지원 서비스<br>
                정말 좋아요
            </p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button color="primary"
               [routerLink]="['/auth/login']">시작하기</a>
        </mat-card-actions>
    </mat-card>
</div>
